@import "tailwindcss";
@theme {
  --font-display: "Poppins", "serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
@theme {
      /* --color-*: initial; */
      --color-primary: #6D28D9; 
      --color-secondary: #F97316; 
      --color-textDark: #374151; 
      --color-navbar: #0F172A;
      --color-footer: #1E293B; 
      --color-bgPage: #FAF5FF; 
      --color-cardBg: #FFFFFF; 
      --color-button: #2563EB; 
      --color-buttonHover: #D1D5DB; 
      --color-secondaryButton: #3B82F6; 
}

/* 
//Primary heading 
// Secondary heading
// Paragraph text
 // Navbar background ..
// Footer background ..
// Page background  ..
// Card background  ..
// Primary button
// Button hover
// Secondary button
*/